/* Color Palete
--------------------
•	Text Color (black/Purple): #000000 and #8b22dd
•	background (Kelly Green): #B1D8B7

*/

* {
    padding: 0;
    margin: 0;
}

/*----------------*/
/* HTML elements */

header {
    text-align: center;
    min-height: 10vh;
}

body {                
    background: radial-gradient(#c7e2cb 0%, #4a9054 100%);
    position: relative;  
}

h1 {
    font-weight: bold;
    font-family: verdana;
}

main {
    min-height: 88vh; 
    text-align: center;
}

footer {
    text-align: center;
    border: 1px solid white;
    background-color: rgb(46, 182, 55);
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 10vh;
    overflow: hidden;

}

footer div {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* -------------------- */

/* Classes */
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none; 
    width: 33.3%;
    text-align: center;
    height: 100%;
    text-transform: capitalize;
}

.link:hover{
    color: #FFF;
    background-color: #55A050;
    
}

.active {
    background-color: #3ba133;
} 

.nav {
    display: flex;
    justify-content: center;
}

.navheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
    font-size: x-large;
    height: 60px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #555;
    background: linear-gradient(90deg, #029b3d 0%, #55A050 100%);
    width: 100%;
    overflow: hidden;
    position:fixed
}


.divfirst {
    align-items: center;
}

.contract {
    max-width: 600px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(152, 196, 152) ;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #414040;
}

.navfooter ul {
    margin-top: 10px;

}

.navfooter ul li {
    display: inline;
    padding: 3px;
    
}

.navfooter a {
    text-decoration: none;
}

.title-main {
    width: 100%;
    text-align: center;
}

.container-main {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.image {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}



.image figure img {
    width: 200px;
    border-radius: 25px;
}

.content-introduction {
    padding: 20px;
}

.container-itens-introduction {
    width: 100%;
    height: 100%;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    
}

.hikinglover {
    font-style: italic;
}
/* -------------------- */

/* Id */
#mainbrand h1 {
    text-align: center;
}