/* Color Palete
--------------------
•	Text Color (black/Purple): #000000 and #8b22dd
•	background (Kelly Green): #B1D8B7

*/

* {
    padding: 0;
    margin: 0;
}

/*----------------*/
/* HTML elements */

header {
    text-align: center;
}

body {                
    background-color: #B1D8B7;
}

h1 {
    font-weight: bold;
    font-family: verdana;
}

figure img {
    width: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

footer {
    text-align: center;
}

/* -------------------- */

/* Classes */
.link{
    cursor: pointer;
    text-decoration: none; 
}

.link:hover{
    color: #FFF;
    
}

.nav {
    border: 1px solid;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

.navheader {
    width: 50%;
}

.navheader ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
    border: 5px solid red;
    margin: 15px;
    background: linear-gradient(90deg, #05C850 0%, #55A050 100%);
}

.navheader li {
    width: 150px;  
    padding: 3px;
    text-align: center;
}

.divfirst {
    align-items: center;
}

.divintro {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 700px;
}

.contract {
    max-width: 600px;
    margin: auto;
    padding: 20 px;
    text-align: center;
}

.navfooter ul li {
    display: inline;
    padding: 3px;
}
/* -------------------- */

/* Id */
#mainbrand h1 {
    text-align: center;
}