
* {
    padding: 0;
    margin: 0;
    font-family: Franklin Gothic Medium;
}
/*----------------*/
/* HTML elements */

header {
    text-align: center;
    min-height: 10vh;
}

body {                
    background: #e0e0f8;
    position: relative;  
}

h1 {
    font-weight: bold;
   
}

main {
    min-height: 88vh; 
    text-align: center;
}

footer {
    text-align: center;
    border-top: 1px solid rgb(167, 137, 3);
    background-color:  rgb(151, 133, 229);
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

footer div {
    margin-top: 2px;
}

/* -------------------- */

/* Class */
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none; 
    width: 33.3%;
    text-align: center;
    height: 100%;
    text-transform: capitalize;
    color: rgb(16, 16, 16);  
}

.link:hover{
    color: rgba(203, 188, 24, 0.922);
    background-color: rgb(151, 133, 229);   
}

.active {
    background-color: rgb(134, 115, 218);
} 

.nav {
    display: flex;
    justify-content: center;
}

.navheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: x-large;
    height: 50px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #555;
    background: rgb(160, 148, 216);
    width: 100%;
    overflow: hidden;
    position:fixed
}


.divfirst {
    align-items: center;
}

.container-contract {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tittle-contract {
    height: 20%;
}

.contract {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    text-align: justify;
    border: 1px solid  rgba(203, 188, 24, 0.922); 
    border-radius: 20px;
    box-shadow: 10px 0px 10px 10px #898888;
    line-height: 1.4;
    display: flex;
    width: 100vw; 
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;  
}

.brand {
    font-size: x-large;
    border: none;
    box-shadow: none;
    max-width: 1000px;   
}

.brand p {
    font-size: 20px;
}

.courses {
    margin-left: 20px;
}

.navfooter ul {
    margin-top: 30px;
}

.brand ul li {
    margin-top: 20px;
    list-style-type: none;
    font-size: 20px;
}

.paragraph {
    margin-top: 20px;
}

.navfooter ul li {
    display: inline;
    padding: 3px;  
}

.navfooter a {
    text-decoration: none;
    color: rgba(3, 3, 3, 0.922);
}

.title-main {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.container-main {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.container-main a {
    text-decoration: none;
    color:rgb(2, 2, 2);
}

.container-main p {
    margin-top: 20px;
    font-size:x-large;
}

.intro {
    margin-top: 200px;
}

.intro a {
    text-decoration: underline;
}

.formatation {
    width: 100%;
    border-bottom: 1px solid rgb(134, 115, 218);
    border-top: 1px solid rgb(167, 137, 3);
    display: flex;
    justify-content: center;
}

.t2 {
    margin-top: 20px;
}

.image {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.image figure img {
    width: 200px;
    border-radius: 25px;
}

.content-introduction {
    padding: 20px;
}

.container-itens-introduction {
   
    height: 100%;
    border-right: 2px solid rgb(167, 137, 3);
    border-bottom: 2px solid rgb(167, 137, 3);
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    line-height: 1.4;  
}

.hikinglover {
    font-style: italic;
}

.author {
    font-size: small;
}

/* -------------------- */
/* Id */
#mainbrand h1 {
    text-align: center;
}


