

/* Part of the introduction page*/

* {
    background-color: #B1D8B7; /* Format for background */  
}

/* header*/
header {
    text-align: center;
}


figure img {
    width: 100px;
    margin-left: 200px;
    margin-right: 200px;
    
    
}

.navintro {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.navintro a {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

.navintro ul li {
    display: inline;
}